
@{
    Layout = null;
}

@model ParcelHubWebTest.Models.tblReview
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>


    <h3>Products Detail</h3>

    
    <a href="@Url.Action("Index","Product")">Got To Previous Page</a>
  

    <table border="1">

        <tr>
            <td>Product ID</td>
            <td>@ViewBag.product.ProdId</td>

        </tr>

        <tr>

            <td>Product Name</td>
            <td>@ViewBag.product.Name</td>
        </tr>

        <tr>
            <td>Price</td>
            <td>@ViewBag.product.Price</td>

        </tr>

        <tr>
            <td>Photo</td>
            <td><img src="~/Content/Images/@ViewBag.product.Photo" width="60" /></td>

        </tr>

    </table>

    <h3>Comments</h3>

    @if (Session["username"] == null)
    {
        <a href="@Url.Action("Login", "Account")">Login to post your comments</a>
    }

    else
    {
        using (Html.BeginForm("SendReview", "Product", FormMethod.Post))
        {
        <table cellpadding="2" cellspacing="2">
           
             <tr>
                @*//this bring Content text to the top*@
                <td valign="top">Content</td>
                <td>@Html.TextAreaFor(model => model.Content, new { cols = 20, rows = 5 })</td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Send" />
                    @Html.HiddenFor(model => model.ProdId)
                </td>
            </tr>
            

            </table>
        }
    }

</body>
</html>
